.menu{
    min-width: 280px;
    display: flex;
    justify-content: space-between;
    height: 88px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0 2px #D9FFF5;
    padding-right: 20px;
    padding-left: 20px;
}

.menu__left-block{
    width: 153px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.menu__right-block{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.menu__logo{
    height: 50px;
    width: 96px;
    cursor: pointer;
}

.menu__divider{
    width: 2px;
    height: 32px;
    background-color:#EAEAEA;
    border-radius: 1px;
    align-self: center;
}

.hidden-desktop{
    display: flex;
}
.menu__button{
    align-self: center;
}

/* Mobile */
@media screen and (max-width: 550px) {
    .hidden-mobile{
        display: flex;
    }
    .hidden-tablet {
        display: none;
    }
    .menu__left-block{
        width: 153px;
    }
    .menu__right-block{
        width: 100px;
    }
    .menu{
        justify-content:space-between;
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* Tablet */
@media (min-width: 551px) and (max-width: 1119px){
    .hidden-mobile{
        display: none;
    }
    .hidden-tablet{
        display: flex;
    }
    .menu{
        padding-left: 20px;
        padding-right: 20px;
    }
    .menu__left-block{
        width: 180px;
    }
}

/* Desktop */
@media screen and (min-width: 1120px){
    .hidden-desktop{
        display: none;
    }
    .menu__right-block{
        width: auto;
    }
}
