.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1060px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 28px;
  margin-left: auto;
  margin-right: auto;
}
.information__block {
  min-width: 272px;
}
@media (min-width: 551px) {
  .information__content {
    padding-left: 24px;
  }
}
.information__blockText {
  font-size: 14px;
  margin-bottom: 18px;
  margin-top: 0;
  color: #1B1C21;
  font-family: TTLakes-Regular, sans-serif;
  min-width: 270px;
  max-width: 45vw;
  min-height: 80px;
  max-height: none;
  height: 11em;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: 2s;
  transition: 2s;
}
.information__blockText_maxHeight {
  max-height: none;
  height: auto;
}
@media screen and (max-width: 550px) {
  .information__blockText {
    max-width: 100%;
  }
}
@media (min-width: 551px) and (max-width: 1119px) {
  .information__blockText {
    padding-right: 24px;
  }
}
@media (min-width: 1120px) {
  .information__blockText {
    padding-right: 36px;
    height: auto;
  }
}
.information__contentPicture {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 550px) {
  .information__picture {
    width: 100%;
    height: auto;
  }
}
.information__blockMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  cursor: pointer;
}
.information__blockMore_hidden {
  display: none;
}
@media screen and (max-width: 550px) {
  .information__blockMore.repairBar__more {
    display: none;
  }
  .information__blockMore.repairBar__more {
    display: none;
  }
}
.information__moreText {
  font-family: TTLakes-Medium, sans-serif;
  margin-left: 10px;
}
.information__moreIcon {
  width: 24px;
  height: 24px;
  margin: auto 0 auto 0;
  background-image: url("../../Assets/img/More.svg");
  background-repeat: no-repeat;
  background-position: center;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.information__moreIcon_rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media screen and (max-width: 550px) {
  .information {
    display: block;
  }
}