@import "./../../variables";
// Всплывающая панель
.popupPanel {
  z-index: 10;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 378px;
  right: 0;
  height: 100vh;
  background: $White;
  transition: transform 1s;
  box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);

  // Скрытие панели
  &__hidden {
    transform: translateX(600px);
  }
  // Кнопки всплывающей панели
  &__button {
    padding-left: 16px;
    height: 40px;
    width: 40px;

    // Десктопный вариант
    @media screen and (min-width: 1120px) {
      & {
        display: inline-block;
        position: absolute;
        left: -84px;
        top: 32px;
      }
    }
  }
  // Заголовок всплывающей панели
  &__heading {

    &.heading {
      padding-top: 0;

      // Додесктопный вариант
      @media screen and (max-width: 1119px) {
        & {
          padding-top: 40px;
        }
      }
    }
  }
  // Форма всплывающей панели
  &__form {
    padding: 24px 16px 16px 16px;
    display: flex;
    flex-direction: column;
  }


  // Додесктопный вариант
  @media screen and (max-width: 1119px) {
    & {
      width: 288px;
      padding: 16px 0 24px 0;
    }
  }
  // Десктопный вариант
  @media screen and (min-width: 1120px) {
    & {
      width: 378px;
      padding: 32px 16px 24px 0;
    }
  }
}

// Состовляющие формы
.form{

  // Элементы ввода в форме
  &__input {
    color: $GreyForm;
    font-size: 16px;
    padding: 12px 0 12px 16px;
    height: 48px;
    background: $White;
    border: 1px solid $Divider;
    border-radius: 8px;
    font-family: TTLakes-Bold, sans-serif;
    margin-bottom: 16px;

    &::placeholder {
      color: $GreyForm;
    }

    &:nth-child(4) {
      height: 118px;
      text-wrap: normal;
    }

  }
  // Текст в форме
  &__text {
    margin-top: 0;
    font-family: $Bold;
    color: $Grey;
    font-size: 14px;
    line-height: 16px;
  }
  // Ссылки в тексе
  &__link {
    line-height: 16px;
    color: $Button;
    text-decoration: none;
  }
  // Кнопки формы
  &__button {
    border: none;
    width: 136px;
    height: 32px;
    font-size: 12px;
    font-family: $Bold;
    color: $White;
    background: $Button;
    border-radius: 16px;
    transition: background-color 0.5s;
    align-self: end;
    cursor: pointer;

    //
    &::after{
      margin-left: 10px;
      display:  inline-block;
      content:"";
      font-size: 12px;
      background-image: url("../../Assets/img/Arrow.svg");
      background-repeat: no-repeat;
      background-position:center;
      object-fit: fill;
      height: 10px;
      width: 6px;
      align-self: center;
      align-items: center;
    }
    // Наведение на кнопку
    &:hover {
      background-color: $ButtonHover;
    }

  }
}

/* Состовляющие кнопки */
.buttonForm{

  // Иконка кнопки
  &__image {
    width: 10px;
    height: 10px;
    padding-left: 12px;
  }
}
