/* Всплывающая панель */
.popupPanel{
    z-index: 10;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -520px;
    top: 0;
    width: 378px;
    height: 100vh;
    background: #FFFFFF;
    transition: right 1s;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
}
@media screen and (max-width: 1119px){
    .popupPanel{
        width: 288px;
        padding: 16px 0 24px 0;
    }
}
@media screen and (min-width: 1120px){
    .popupPanel{
        width: 378px;
        padding: 32px 16px 24px 0;
    }
}


/* Кнопки всплывающей панели */
.popupPanel__button{
    padding-left: 16px;
    height: 40px;
    width: 40px;
}
@media screen and (min-width: 1120px){
    .popupPanel__button{
        display: inline-block;
        position: absolute;
        left: -84px;
        top: 32px;
    }
}


/* Заголовок всплывающей панели */
.popupPanel__heading.heading{
    padding-top: 0;
}
@media screen and (max-width: 1119px){
    .popupPanel__heading.heading{
        padding-top: 40px;
    }
}


/* Форма всплывающей панели */
.popupPanel__form{
    padding: 24px 16px 16px 16px;
    display: flex;
    flex-direction: column;
}


/*  */
.popupPanel__form-input:nth-child(4){
    height: 118px;
    text-wrap: normal;
}


/* Элементы ввода в форме */
.popupPanel__form-input{
    color: #B5B6BC;
    font-size: 16px;
    padding: 12px 0 12px 16px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    font-family: TTLakes-Bold, sans-serif;
    margin-bottom: 16px;
}
.popupPanel__form-input::placeholder{
    color: #B5B6BC;
}


/* Текст в форме */
.popupPanel__form-text{
    margin-top: 0;
    font-family: TTLakes-Bold, sans-serif;
    color: #7E7E82;
    font-size: 14px;
    line-height: 16px;
}


/* Ссылки в тексе */
.popupPanel__form-link{
    line-height: 16px;
    color: #FF3E79;
    text-decoration: none;
}


/* Кнопки формы */
.popupPanel__form-button{
    border: none;
    width: 136px;
    height: 32px;
    font-size: 12px;
    font-family: TTLakes-Bold, sans-serif;
    color: white;
    background: #FF3E79;
    border-radius: 16px;
    transition: background-color 0.5s;
    align-self: end;
}
.popupPanel__form-button:hover{
    background-color: #b01d4a;
}


/* Иконка кнопки в форме */
.popupPanel__form-button_image{
    width: 10px;
    height: 10px;
    padding-left: 12px;
}
