/* Кнопка */
.button{
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ;
}
/* Наведение на кнопку */
.button:hover{
  background-color: #b01d4a;
}
/* Стиль кнопки меню */
.button_menu{
  background-image: url("../../img/Menu.svg");
  background-repeat: no-repeat;
  background-position:center;
  object-fit: fill;
}
/* Стиль кнопки вызова */
.button_call{
  background-image: url("../../img/Call.svg");
  background-repeat: no-repeat;
  background-position:center;
  object-fit: fill;
}
/* Стиль кнопки сообщения */
.button_message{
  background-image: url("../../img/Message.svg");
  background-repeat: no-repeat;
  background-position:center;
  object-fit: fill;
}
/* Стиль кнопки профиля */
.button_profile{
  background-image: url("../../img/Profile.svg");
  background-repeat: no-repeat;
  background-position:center;
  object-fit: fill;
}
/* Стиль кнопки инструментов */
.button_tools{
  background-image: url("../../img/Tools.svg");
  background-repeat: no-repeat;
  background-position:center;
  object-fit: fill;
}
/* Стиль кнопки поиска */
.button_search{
  background-image: url("../../img/Search.svg");
  background-repeat: no-repeat;
  background-position:center;
  object-fit: fill;
}
/* Стиль кнопки отмены */
.button_cancel{
  background-image: url("../../img/Cancel.svg");
  background-repeat: no-repeat;
  background-position:center;
  object-fit: fill;
}