// Кнопка
.button{
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ;

  // Наведение на кнопку
  &:hover{
    background-color: #b01d4a;
  }
}

// Общий стиль кнопок
@mixin buttonStyle($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position:center;
  object-fit: fill;
}

// Стиль кнопки меню
.button_menu{
  @include buttonStyle("../../img/Menu.svg");
}
// Стиль кнопки вызова
.button_call{
  @include buttonStyle("../../img/Call.svg");
}
// Стиль кнопки сообщения
.button_message{
  @include buttonStyle("../../img/Message.svg");
}
// Стиль кнопки профиля
.button_profile{
  @include buttonStyle("../../img/Profile.svg");
}
// Стиль кнопки инструментов
.button_tools{
  @include buttonStyle("../../img/Tools.svg");
}
// Стиль кнопки поиска
.button_search{
  @include buttonStyle("../../img/Search.svg");
}
// Стиль кнопки отмены
.button_cancel{
  @include buttonStyle("../../img/Cancel.svg");
}