.navigation {
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-overflow-style: none;
  overflow: auto;
}
.navigation__block {
  -ms-overflow-style: none;
  overflow: scroll;
  padding-top: 10px;
}
.navigation__block::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 10px 10px 10px;
}
@media screen and (min-width: 1120px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 1119px) {
  .navigation__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.navigation__item {
  list-style-type: none;
}
.navigation__button {
  border: none;
  background: none;
  padding: 7px 8px 7px 8px;
  white-space: nowrap;
  font-size: 16px;
  color: #7E7E82;
  border-radius: 10px;
  font-family: TTLakes-Regular, sans-serif;
}
.navigation__button:hover {
  -webkit-box-shadow: 0 0 0 2px #B8FFEC;
          box-shadow: 0 0 0 2px #B8FFEC;
}
.navigation__button_active {
  background-color: #FFFFFF;
  border-color: #41F6D7;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
}
.navigation__button_active:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}