.repairBar {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #F8F8F8;
}
.repairBar__heading {
  padding: 16px 16px 16px 32px;
  font-size: 16px;
  color: #7E7E82;
  font-family: TTLakes-Regular, sans-serif;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #F8F8F8), to(rgb(255, 255, 255)));
  background: linear-gradient(90deg, #F8F8F8 10%, rgb(255, 255, 255) 100%);
}
.repairBar__main {
  padding: 24px 16px 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 176px;
  width: 1056px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
}
.repairBar__main.price {
  width: calc(100% - 48px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}
.repairBar__main_expanded {
  height: auto;
}
@media screen and (min-width: 1370px) {
  .repairBar__main {
    width: 1056px;
  }
}
@media (min-width: 800px) and (max-width: 1369px) {
  .repairBar__main {
    width: 740px;
  }
}
@media (min-width: 551px) and (max-width: 799px) {
  .repairBar__main {
    width: 488px;
  }
}
@media screen and (max-width: 550px) {
  .repairBar__main {
    display: none;
  }
  .repairBar__main.price {
    display: none;
  }
}
.repairBar__card {
  margin-right: 32px;
  margin-bottom: 16px;
  width: 204px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  background: #FFFFFF;
  border-radius: 6px;
}
.repairBar__card:nth-child(4n) {
  margin-right: 0;
}
@media (min-width: 800px) and (max-width: 1369px) {
  .repairBar__card:nth-child(4n) {
    margin-right: 32px;
  }
}
@media (min-width: 1370px) {
  .repairBar__card:nth-child(4n) {
    margin-right: 0;
  }
}
@media (min-width: 551px) and (max-width: 1369px) {
  .repairBar__card {
    width: 188px;
  }
}
.repairBar__icon {
  min-height: 40px;
  max-width: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.repairBar__text {
  font-family: TTLakes-Bold, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}
.repairBar__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  max-width: 40px;
  height: 40px;
  border: 2px solid #FF3E79;
  border-radius: 20px;
  background-image: url("./../../img/ArrowPink.svg");
  background-repeat: no-repeat;
  background-position: center;
  -o-object-fit: fill;
     object-fit: fill;
  cursor: pointer;
  -webkit-transition: background-color, 1s;
  transition: background-color, 1s;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}
.repairBar__button:hover {
  background-color: #b01d4a;
  background-image: url("./../../img/Arrow.svg");
  border: 2px solid white;
}
.repairBar__cardPrice {
  padding-left: 24px;
  padding-right: 24px;
  background-color: #FFFFFF;
  font-family: TTLakes-Regular, sans-serif;
  width: auto;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  text-align: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 -22px 0 -21px #EAEAEA;
          box-shadow: 0 -22px 0 -21px #EAEAEA;
}
.repairBar__cardPrice:first-child {
  color: #7E7E82;
  background-color: #F8F8F8;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.repairBar__cardPrice:first-child > button {
  z-index: -200;
}
.repairBar__cardPrice:nth-child(2) {
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.repairBar__cardPrice:last-child {
  border-radius: 0 0 10px 10px;
}
.repairBar__more {
  padding-left: 24px;
}

@media (min-width: 800px) and (max-width: 1369px) {
  .repairBar__card:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 551px) and (max-width: 799px) {
  .repairBar__card:nth-child(2n) {
    margin-right: 0;
  }
}
.cardFirm {
  height: 40px;
}

.cardModel {
  height: 128px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cardPrice {
  width: 228px;
  height: 184px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: TTLakes-Regular, sans-serif;
  font-size: 14px;
}
.cardPrice__cellName > .cellName {
  color: #7E7E82;
}
.cardPrice__cellPrice > .cellPrice {
  color: #7E7E82;
}
.cardPrice__cellTime > .cellTime {
  color: #7E7E82;
}
.cardPrice__cellButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cellName {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  max-width: 324px;
  width: 30%;
  padding-right: 10px;
}

.cellPrice {
  padding-right: 10px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 100px;
  width: 15%;
}

.cellTime {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: 100px;
}

.cellButton {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 119px;
  width: 15%;
}
.cellButton.form__button {
  width: 120px;
}