/* Общий блок для карточек */
.repairBar{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F8F8F8;
}


/* Заголовок у блока для карточек */
.repairBar__heading{
    padding: 16px 16px 16px 32px;
    font-size: 16px;
    color: #7E7E82;
    font-family: TTLakes-Regular, sans-serif;
    background: linear-gradient(90deg,  #F8F8F8 10%, rgba(255,255,255,1) 100%);
}


/* Центральный блок для карточек */
.repairBar__main{
    padding: 24px 16px 0 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    height: 176px;
    width: 1056px;
    align-self: center;
    overflow: hidden;
}

.repairBar__main.price{
    width: calc(100% - 48px);
    display: flex;
    flex-direction: column;
}

.repairBar__main_expanded{
    height: auto;
}

.repairBar__main.price{
  height: auto;
}
/* 4 */
@media screen and (min-width: 1370px){
    .repairBar__main{
        width: 1056px;
    }
}
/* 3 */
@media (min-width: 800px ) and ( max-width: 1369px){
    .repairBar__main{
        width: 740px;
    }
}
/* 2 */
@media (min-width: 551px) and (max-width: 799px){
    .repairBar__main{
        width: 488px;
    }
}
/* Слайдер */
@media screen and (max-width: 550px){
    .repairBar__main{
        display: none;
    }
}


/* Карточка */
.repairBar__card{
    margin-right: 32px;
    margin-bottom: 16px;
    width: 204px;
    display: flex;

    justify-content: space-between;
    padding: 16px;
    background: #FFFFFF;
    border-radius: 6px;
}
/* Карточки фирмы */
.cardFirm {
    height: 40px;
}
/* Карточки моделей */
.cardModel{
    height: 128px;
    flex-direction: column;
}
@media (min-width: 800px ) and (max-width: 1369px){
    .repairBar__card{
        width: 188px;
    }
}
@media (min-width: 551px) and (max-width: 799px){
    .repairBar__card{
        width: 188px;
    }
}
.repairBar__card:nth-child(4n){
    margin-right: 0;
}
/* 2 */
@media (min-width: 551px) and (max-width: 799px){
    .repairBar__card:nth-child(2n){
        margin-right: 0;
    }
}
/* 3 */
@media (min-width: 800px ) and (max-width: 1369px){
    .repairBar__card:nth-child(3n){
        margin-right: 0;
    }
    .repairBar__card:nth-child(4n){
        margin-right: 32px;
    }
}
/* 4 */
@media (min-width: 1370px){
    .repairBar__card:nth-child(4n){
        margin-right: 0;
    }
}


/* Иконка карточки */
.repairBar__icon{
    min-height: 40px;
    max-width: 132px;
    display: flex;
    justify-content: start;
}


/* Текс карточки */
.repairBar__text{
    font-family: TTLakes-Bold, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

/* Кнопка в карточке */
.repairBar__button{
    box-sizing: border-box;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 20px;
    background-image: url("./../../img/ArrowPink.svg");
    background-repeat: no-repeat;
    background-position:center;
    object-fit: fill;
    cursor: pointer;
    transition: background-color, 1s;
}
.repairBar__button.cardModel{
    align-self: end;
}


/* Наведение на кнопку */
.repairBar__button:hover{
    background-color: #b01d4a;
    background-image: url("./../../img/Arrow.svg");
    border: 2px solid white;
}


/* Таблица прайса */
.repairBar__cardPrice{
    padding-left: 24px;
    padding-right: 24px;
    background-color: #FFFFFF;
    font-family: TTLakes-Regular, sans-serif;
    width: auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
    text-align: start;
    align-items: center;
    box-shadow: 0 -22px 0 -21px #EAEAEA;
}
.repairBar__cardPrice:first-child{
    color: #7E7E82;
    background-color: #F8F8F8;
    box-shadow: none;
}
.repairBar__cardPrice:first-child > button{
    z-index: -200;
}
.repairBar__cardPrice:nth-child(2){
    border-radius: 10px 10px 0 0;
    box-shadow: none;
}
.repairBar__cardPrice:last-child{
    border-radius: 0 0 10px 10px;
}

.name{
    flex-grow: 4;
    width: 324px;
}
.pricec{
    flex-grow: 2;
    width: 100px;
}
.time{
    flex-grow: 2;
    width: 100px;
}
.buttonc{
    align-self: center;
    text-align: center;
    flex-grow: 1;
    width: 119px;
}

.repairBar__more_model{
    padding-left: 24px;
}
.repairBar__more_firma{
    padding-left: 24px;
}