.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}
.heading__leftBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.heading__text {
  font-size: 28px;
  font-family: TTLakes-Bold, sans-serif;
  line-height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.heading__text:before {
  margin-right: 16px;
  display: block;
  float: left;
  content: "";
  font-size: 16px;
  color: #41F6D7;
  height: 40px;
  width: 4px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #41F6D7;
}
@media screen and (max-width: 550px) {
  .heading__text:before {
    margin-right: 12px;
  }
}
@media (min-width: 551px) and (max-width: 1119px) {
  .heading__text:before {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1120px) {
  .heading__text:before {
    margin-right: 30px;
  }
}
.heading__rightBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 32px;
}
@media screen and (max-width: 1119px) {
  .heading__rightBlock {
    display: none;
  }
}
.heading__button {
  margin-left: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.heading__textForButton {
  margin-right: 9px;
  font-size: 16px;
  color: #1B1C21;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: TTLakes-Regular, sans-serif;
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  .heading {
    padding-top: 24px;
    padding-bottom: 16px;
  }
}
@media (min-width: 551px) and (max-width: 1119px) {
  .heading {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1120px) {
  .heading {
    padding-top: 42px;
    padding-bottom: 0;
  }
}