

.heading {
    display: flex;
    width: 304px;
    height: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.heading__highlight {

    height: 40px;
    width: 4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #41F6D7;
}

.heading__text {
    padding-left: 16px;
    font-size: 28px;
    font-family: "TTLakes-Bold", sans-serif;
    line-height: 40px;

}