.information{
    padding-top: 24px;
}

.information__block{

    float: left;
}
.information__block-text{
    font-size: 14px;
    margin-bottom: 18px;
    margin-top: 0;
    color:#1B1C21;
    font-family: "TTLakes-Regular", sans-serif;
    min-width: 270px;
    max-width: 300px;
    min-height: 80px;
    max-height: 130px;
    height: 30vw;
    padding: 0 24px 0 24px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.information__picture{
    object-fit: contain;
}

.information__block-more{
    display: flex;
    margin-bottom: 18px;
    margin-left: 10px;
}
.information__more-text{
    font-family: "TTLakes-Medium", sans-serif;
    margin-left: 10px;
}
.information__more-icon{
    margin: auto 10px auto 20px;
}