/* Шрифты */
@font-face {
    font-family: "TTLakes-Bold";
    src: url("fonts/TTLakes-Bold.woff") format("woff")
}
@font-face {
    font-family: "TTLakes-Regular";
    src: url("fonts/TTLakes-Regular.woff") format("woff");
}
@font-face {
    font-family: "TTLakes-Medium";
    src: url("fonts/TTLakes-Medium.woff") format("woff");
}
@font-face {
    font-family: "TTLakes-Black";
    src: url("fonts/TTLakes-Black.woff") format("woff");
}


/* Стиль для всего документа */
html{
    padding: 0;
    overflow-x: hidden;
    background-color: white;
    width: 100vw;
}


/* Замутнение экрана */
.blur{
    z-index: 2;
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #cccccc;
    opacity: 0;
    transition: opacity 2s;
}


/* Тело сайта */
body{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: #F8F8F8;
}
@media screen and (min-width: 1120px){
    body{
        flex-direction: row;
    }
}
@media screen and (min-width: 1120px){
    .body-block{
        width: calc(100vw - 320px);
    }
}