// Цвета
$Button: #FF3E79;
$ButtonHover: #b01d4a;
$Aqua: #41F6D7;
$AquaShadow: #B8FFEC;
$Divider: #EAEAEA;
$WhiteBackground:  #F8F8F8;
$White: #FFFFFF;
$GreyForm: #B5B6BC;
$Grey: #7E7E82;
$ShadowIn: rgba(69, 79, 126, 0.02);
$ShadowOut: rgba(14, 24, 80, 0.2);
$BlackText: #1B1C21;


// Шрифты
$Bold: TTLakes-Bold, sans-serif;
$Regular: TTLakes-Regular,  sans-serif;
$Medium: TTLakes-Medium, sans-serif;
$Black: TTLakes-Black, sans-serif;